{% extends 'shop/basic.html' %}
{% block title%} Search Results - myawesomekart {% endblock %}
{% block css %}
.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img {
width: 170px;
height: 200px;
}

body .carousel-indicator li {
background-color: blue;
}

body .carousel-indicators {
bottom: -50px;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon {
background-color: blue;
}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
padding-top:200px;
}
body .no-padding {
padding-left: 0,
padding-right: 0;
}

{% endblock %}
{% block body %}
{% load static %}
<div class="container">
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4"> Flash Sale On {{product.0.category}} - Recommended Items</h5>
    <div class="row">
        <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                {% for i in range %}
                <button type="button" data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"
                    aria-label="Slide 2"></button>
                {% endfor %}
            </div>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active">
                    {% for i in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card align-items-center" style="width: 18rem;">
                            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                                <p class="fs-6 text-success fw-bold mb-1">&#8377;<span id="pricepr{{i.id}}">{{i.price }}</span></p>
                                <p class="card-text">{{i.description|truncatechars:53}}</p>
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                                </span>
                                <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}"
                                        class="btn btn-primary cart">Quick View</button></a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter}}"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter}}"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endfor %}

</div>
{% endblock %}

{% block js %}
<script>
    {% if msg|length != 0 %}
    alert('{{msg}}');
    window.location.href = "/"
    {% endif %}
    //find out cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
        
    }
    $('.divpr').on('click', 'button.cart', function(){
        var idstr = this.id.toString();
        console.log(idstr);
        if (cart[idstr] != undefined) {
            qty = cart[idstr][0] + 1;
        }
        else {
            qty = 1
            name = document.getElementById('name'+idstr).innerHTML;
            price = document.getElementById('price'+idstr).innerHTML;
            cart[idstr] = [qty,name,parseInt(price)];
        }
        updateCart(cart);
    });
    //Add popover to cart
    $(document).ready(function () {
        $('#popcart').popover();  // Initialize popover
       updatePopover(cart);      // Set the dynamic popover content
    });
    var myDefaultAllowList = bootstrap.Tooltip.Default.allowList
    myDefaultAllowList.button = ['id', 'class' , 'type' , 'onclick']
    
    function updatePopover(cart) {
        console.log('We are in updatePopover');
        var popStr = "<h6>Cart for your items in my shopping cart</h6><div class='mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            var itemElement = document.getElementById('name' + item);
            var itemName = itemElement ? itemElement.innerHTML.slice(0, 19) : "Unknown Item";
            popStr += `<b>${i}</b> - ${itemName} || Qty: ${cart[item][0]}<br>`;
            i++;
        }
        popStr += `</div>
            <a href='/shop/checkout'><button class='btn btn-primary' id='checkout'>Checkout</button></a>
            <button onclick='clearCart()' class='btn btn-primary' id='clearcart'>Clear Cart</button>`;
    
        var popcart = document.getElementById('popcart');
        if (popcart) {
            popcart.setAttribute('data-bs-content', popStr);
    
            var popover = bootstrap.Popover.getOrCreateInstance(popcart);
            popover.setContent({
                '.popover-body': popStr // Correctly update the popover body content
            });
    
            popover.update(); // Update the popover content
            popover.show(); // Show the updated popover
        }
    }
    
    function clearCart(){
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            var divItem = document.getElementById('div' + item);
            if (divItem) {
                divItem.innerHTML = `<button id="${item}" class="btn btn-primary cart">Add to Cart</button>`;
            }
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);
    }
    
    function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum += cart[item][0];
            document.getElementById('div' + item).innerHTML = `<button id ="minus${item}" class="btn btn-primary minus"> - </button>
            <span id="val${item}">${cart[item][0]}</span>
            <button id="plus${item}" class="btn btn-primary plus"> + </button>`;
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        updatePopover(cart);           
    }

    //if plus or minus button is clicked,change the cart as well as display value
    $('.divpr').on("click", "button.minus", function () {
        a = this.id.slice(7);
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        if (cart['pr' + a][0] == 0){
            document.getElementById('divpr' + a).innerHTML=`<button id="pr${a}" class="btn btn-primary cart">Add to Cart</button>`
            delete cart['pr'+a];
        }
        else{
            document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        }
        updateCart(cart);
    });
    $('.divpr').on("click", "button.plus", function () {
        a = this.id.slice(6);
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
    });
</script>
{% endblock %}