{% extends 'shop/basic.html' %}

{% block title %} myawesomekart Tracker {% endblock %}

{% block body %}
<div class="container py-2">
    <!-- Step 1: Cart Review -->
    <div class="card mb-3 shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0"><i class="bi bi-cart4 me-2"></i>Enter Your Order Id and Email address to track your order </h4>
        </div>
        <div class="card-body">
            <form class="row g-4" method="post" action="#" id="trackerForm">{% csrf_token %}
                <div class="col-md-6">
                    <label for="inputname" class="form-label"><i class="bi bi-person"></i>Order Id<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label"><i class="bi bi-envelope"></i> Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                </div>
                <div class="col-12 text-center mt-4">
                    <button type="submit" class="btn btn-success px-5 py-2"><i class="bi bi-check-circle me-2"></i>Track Order</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card shadow-lg border-0">
        <div class="card-header bg-secondary text-white text-center">
            <h4 class="mb-0"><i class="bi bi-pencil-square me-2"></i>Your Order Status</h4>
        </div>
        <div class="card-body">
            <ul class="list-group" id="items">
                Enter your order Id and Email and click Track Order to find details about your order!
            </ul>
        </div>
    </div>
    <div class="card shadow-lg border-0">
        <div class="card-header bg-secondary text-white text-center">
            <h4 class="mb-0"><i class="bi bi-pencil-square me-2"></i>Your Order Details</h4>
        </div>
        <div class="card-body">
            <ul class="list-group" id="citems">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('#trackerForm').submit(function(event) {
    $('#items').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            $('#citems').empty();
            data = JSON.parse(data);
            if (data['status'] == 'success') {
                updates = data['updates'];
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge bg-primary rounded-pill">${time}</span>
                    </li>`;
                    $('#items').append(mystr);
                }
                cart = JSON.parse(data['itemsJson']);
                console.log(cart);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${name}
                        <span class="badge bg-primary rounded-pill">${qty}</span>
                    </li>`
                    $('#citems').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`;
                $('#items').append(mystr);
                $('#citems').append(mystr);
            }
            
        });
    event.preventDefault();
});
</script>
{% endblock %}
